@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif:ital@1&display=swap');

.logo{
    width: 125px;
    margin-left: 15%;
    margin-right: 15%;
}
.lupa{
    width: 15px;
    height: 15px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Serif', serif;
}
